* {
  font-family: 'Sniglet', cursive;
}

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ED5151;
}

.wrapper {
  max-width: 1080px;
  min-height: 500px;

  background: #FFFFFF;
  box-shadow: 0px 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 29px;
  margin: 50px auto;
}

.content {
  margin: 20px 60px;

  .contentHeader {
    display: flex;
    justify-content: space-between;

    h2 {
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 45px;
      overflow: hidden;

      color: #ED5151;
    }
    .searchBlock {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 230px;
      height: 46px;

      background: #FFFFFF;
      border: 1px solid #ED5151;
      box-sizing: border-box;
      border-radius: 17px;

      img {
        margin: 16px 7px 16px 21px;
      }

      input {
        border-style: none;
        color: #ED5151;
      }

      input::placeholder {
        color: rgba(237, 81, 81, 0.65);
      }

      svg {

        position: absolute;
        cursor: pointer;
        right: 10px;
        top: 10px;

        &:hover {
          rect {
            animation: fill 10s, popup 11s;
            fill: #E67F7F;
          }
          path {
            fill: white;
          }
        }

        &:active {
          rect {
            fill: darken(#E67F7F, 10%);
            stroke: darken(#E67F7F, 10%);
          }
        }
      }
    }
  }
}

.contentWrapper {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
  margin-left: 40px;
}

.noNotes {
  width: 100%;

  h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #ED5151;
  }
}

button {
  width: 200px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #EB7A7A;
  box-sizing: border-box;
  border-radius: 17px;
  cursor: pointer;

  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15em;
  transition: 0.2s ease-in-out;

  color: #ED5151;

  &:hover {
    background-color: #ED5151;
    color: white;
  }

  &:active {
    background-color: darken(#ED5151, 10%);
  }
}

